<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="loginstyle.css">
</head>
<body>
    <fieldset>
        <legend><h1>LogIn</h1></legend>
        <form action="" method="POST">
            <label for="uname">Username :</label>
            <input type="text" id="uname" name="username" required>
            <br>
            <br>
            <label for="pwd">Password : </label>
            <input type="password" name="password" id="pwd" required>
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
    </fieldset>
</body>
</html>