li{
    list-style:none;
}

button{
    background-color: white;
    /* border:2px solid black; */
    padding:20px 18px;
    font-size:16px;
    border-radius: 8px;
}

button:hover{
    background-color: red;
    color:white;
    transition: 0.3s ease linear;
    font-size:18px;
    cursor: pointer;
    border: 2px solid white;
}

.author-div{
    background-color: rgb(64, 185, 218);
    padding: 20px;
    margin:20px;
}

.author-div img{
    border: 3px solid black;
    border-radius: 20px;
}
nav ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}